---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/entries?sys.id=5ETMRzkl9KM4omyMwKAOki
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.15.4; platform ruby/2.7.1; os macOS/19;
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"10665018808065264751"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      X-Contentful-Request-Id:
      - cf0fcfb7-a175-40f0-bd11-10289b91ed8a
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "5ETMRzkl9KM4omyMwKAOki",
                "type": "Entry",
                "createdAt": "2014-02-21T13:42:57.752Z",
                "updatedAt": "2014-08-23T14:42:35.207Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 3,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "1t9IbcfdCk6m04uISSsaIK"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "name": "London",
                "center": {
                  "lon": -0.12548719999995228,
                  "lat": 51.508515
                }
              }
            }
          ]
        }
  recorded_at: Thu, 20 Aug 2020 17:15:27 GMT
recorded_with: VCR 4.0.0
